*{
  margin: 0px;
  padding: 0px;
box-sizing: border-box;
}

.header{
  width: 100%;
  background: rgb(14, 103, 163);
  color: #fff;
  
}
.logo{
  color: #fff;
  text-decoration: none;
}
.header_r{
  display: grid;
  width: 100%;
  max-width: 900px;
  grid-template-columns: auto auto;
  justify-content: space-between;
  padding: 15px;
  margin: auto;
}
.btn-p{
  padding: 10px;
  background:rgb(9 21 34);;
  color: #fff;
  border: 0px;
  border-radius: 4px;
  text-decoration: none;
}
.cursor{
  cursor: pointer;
}

.main{
  max-width: 900px;
  margin: auto;
  padding: 15px;
  animation-name: opacidad;
  animation-duration: 0.5s;
}
.section {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-column-gap: 20px;
}
.article {
  padding: 10px;
  border: 1px solid #ccc;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: auto 1fr auto;
  grid-column-gap: 15px;
  margin-bottom: 15px;
}
.span-3{
  grid-column: span 3;
}
.btn{
  width: 100%;
  font-size: 13px;
  padding: 8px;
  margin: 10px auto;
  border: 0px;
  color: #fff;
  border-radius: 3px;
  display: grid;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.errMsj{
  width: 100%;
  padding: 6px;
  display: grid;
  align-items: center;
  background: #c97272;
  justify-content: center;
  color: #fdfdfd;
  font-weight: 500;
}

.edit{
  background-color: rgb(68, 182, 53);
}
.del{
  background-color: rgb(170, 77, 60);
}
.ver{
  background-color: rgb(60, 117, 170);
}

/* POST */

.anPost{
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 15px;
}


@keyframes opacidad {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (max-width: 800px) {
  .section{
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 600px) {
  .section{
    grid-template-columns: 1fr ;
  }
}